@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fcfbf6;
  padding: 20px;
}

.title {
  color: #555349;
  text-align: center;
  font-family: Calistoga;
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slider {
  position: relative;
  width: 500px;
  height: 350px;
  margin-inline: auto;
  /* overflow: hidden; */
}

.slider__window {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slides__wrapper {
  position: absolute;
  height: 300px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.slider__slide {
  position: relative;
  height: 100%;
}

.slider__image {
  width: 90%;
  height: 100%;
  margin-inline: 5%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.slider__button-wrapper {
  position: absolute;
  width: 550px;
  height: fit-content;
  top: 40%;
  left: -5%;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #d9d9d9;
  color: #555349;
}

.slider__button:hover {
  background-color: #555349;
  color: #d9d9d9;
}

.slider__points-wrapper {
  position: absolute;
  display: flex;
  height: 20px;
  width: fit-content;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__point {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  margin-inline: 5px;
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.slider__point:checked {
  background-color: #555349;
}

.slider__point:hover {
  background-color: #555349;
}
